.container {
    /* height: 100vh; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
  }
  
  .card {
    border-radius: 10px;
  }
  
  .btn {
    width: 100%;
  }
  
  .card-header {
    background-color: #007bff;
    color: #fff;
  }
  
  .card-body {
    padding: 20px;
  }
  